.form {
  width: 45rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem auto;
  background-color: rgb(19, 19, 19);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.136);

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Tilt Neon", cursive;
    color: rgb(204, 2, 110);

    .icon {
      font-size: 3rem;
      margin-right: 1rem;
      //   border: 2px solid blue;
      color: rgb(190, 0, 168);
    }
  }

  .form-wrapper {
    margin: 2rem 0;
  }

  .label-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .drag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem dashed rgb(202, 2, 52);
    // background-color: rgb(19, 19, 19);
    color: rgba(255, 255, 255, 0.681);
    font-size: 2rem;
    font-family: "Tilt Neon", cursive;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .error {
    font-size: 1.8rem;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(248, 210, 0);
    // font-weight: bold;
    text-align: center;
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  label {
    font-size: 2rem;
    font-family: "Tilt Neon", cursive;
    color: rgb(202, 2, 52);
    font-weight: bold;
  }

  input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-family: "Tilt Neon", cursive;
    color: rgba(255, 255, 255, 0.681);
    background-color: rgb(19, 19, 19);
    border: 0.2rem solid rgb(202, 2, 52);
  }

  .select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .select-input {
      position: relative;

      .select-btn {
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        font-size: 2rem;
        font-family: "Josefin Sans", sans-serif;
        color: rgba(255, 255, 255, 0.91);
        font-weight: bold;
        background-color: rgb(114, 3, 31);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      .select-options {
        display: flex;
        transform: scaleY(0);
        flex-direction: column;
        position: absolute;
        top: 110%;
        z-index: 1;
        // background-color: rgb(3, 106, 185);
        background-color: rgb(114, 3, 31);
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: transform 0.4s ease-in-out;
        transform-origin: top;

        .option {
          // padding: 7px 20px;
          font-size: 1.7rem;
          border: none;
          outline: none;
          // border-radius: 28px;
          color: white;
          font-weight: bold;
          cursor: pointer;
          text-shadow: 0px 0px 1px black;
          background-color: transparent;
          padding: 1rem 0;
          border-top: 1px solid rgba(255, 255, 255, 0.418);
          border-bottom: 1px solid rgba(255, 255, 255, 0.485);
          z-index: 10;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  button.btn {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(202, 2, 52);
    outline: none;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: rgba(255, 255, 255, 0.91);
    font-weight: bold;
    background-color: rgb(202, 2, 52);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: rgb(202, 2, 52);
      border: 0.2rem solid rgb(202, 2, 52);
    }
  }
}
