@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 36, 36);
  color: white;
}

@import "styles/upload.scss";
@import "styles/form.scss";
